<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project_aoe2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_aoe2">
        <activity android:name=".Personal_Notes.EditDataActivity"></activity>
        <activity android:name=".Personal_Notes.ListDataActivity" />
        <activity android:name=".Personal_Notes.AddDataActivity" />
        <activity android:name=".Technology.TechnologyDetailActivity" />
        <activity android:name=".Technology.TechnologyListActivity" />
        <activity android:name=".Structure.StructureDetailActivity" />
        <activity android:name=".Structure.StructureListActivity" />
        <activity android:name=".Unit.UnitDetailActivity" />
        <activity android:name=".Unit.UnitListActivity" />
        <activity android:name=".Civilization.CivilizationListActivity" />
        <activity android:name=".Civilization.CivilizationDetailActivity" />
        <activity android:name=".Launcher.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>